/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* HEADER STYLING */
  header .banner-container {
    background-color: #F3F5F7;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
  }
  
  header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 14px;
    width: 800px;
  }
  
  header .banner span a {
    color: #377DFF;
  }
  
  header .banner select {
    color: white;
    background-color: black;
    border: none;
    outline: none;
  }
  
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    border-bottom: 1px solid #ccc;
  }
  
  header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  header .nav-link {
    font-weight: 100;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header .search-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    ;
  }
  
  
  header .search-bar>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    ;
  }
  
  .section-product1 {
    display: flex;
  
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    width: 550px;
    gap: 15px;
    margin-top: 20px;
  }
  
  .aref {
    color: black;
  }
  
  .product1 {
    width: 550px;
    height: 160px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .one {
    margin-top: 15px;
  }
  
  .section-product2 {
    display: flex;
    gap: 80px;
    margin-top: 15px;
  }
  
  .product2 {
    margin-top: 10px;
  
  }
  
  
  .left77 {
    position: relative;
    left: 50px;
    width: fit-content;
  
  }
  
  .countdown {
    display: flex;
    gap: 20px;
  
  
  }
  
  .box {
    border: 1px solid transparent;
    width: 70px;
    height: 80px;
    background-color: #F3F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
  
  }
  
  .name {
    text-align: center;
  }
  
  .product22 {
    display: flex;
  }
  
  .right-product {
    display: flex;
    gap: 10px;
  
  }
  
  .r-p {
    border: 1px solid gray;
    border-radius: 8px;
    width: 95px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .r-r {
    border: 1px solid gray;
    border-radius: 8px;
    width: 405px;
    height: 48px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .r-c {
    border: 1px solid gray;
    border-radius: 8px;
    width: 500px;
    height: 48px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
  }
  
  .writeup {
    width: 250px;
    display: flex;
    justify-content: space-between;
    display: inline 5px;
    margin-top: 15px;
  
  }
  
  .section-product3 {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    padding-left: 80px;
    padding-right: 80px;
  
  }
  
  .black {
    color: black;
  }
  
  .section-product4 {
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
  
  
  }
  
  .section-product5 {
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  
  }
  
  .section-product6 {
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  
  }
  
  .section-product7 {
    margin-top: 20px;
    display: flex;
    gap: 800px;
    padding-left: 80px;
    padding-right: 80px;
  
  }
  
  .newest {
  
    border: 1px solid red;
    width: 500px;
  }
  
  .section-product8 {
    display: flex;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
  
  }
  
  .like-reply {
    display: flex;
    gap: 10px;
    font-weight: bolder;
  }
  
  .section-product9 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .like {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: black;
  
  }
  
  .review {
    display: flex;
  
  }
  
  
  
  .review-img-container {
    border: 1px solid blue;
    /* width: 200px;
    height: 500px; */
  }
  
  .our-new-container {
    display: flex;
    width: 1440px;
    height: 360px;
    position: relative;
  }
  
  .our-new-absolute {
    display: flex;
    width: 540px;
    height: 166px;
    top: 101px;
    left: 450px;
    gap: 32px;
    position: absolute;
    text-align: center;
  }
  
  .letter-h4 {
    display: flex;
    width: 456px;
    height: 44px;
    font: poppins;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
    align-items: center;
    color: #141718;
  }
  
  .signdeal {
    display: flex;
    width: 540px;
    height: 30px;
    font: inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #121212;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 249px;
    padding-top: 80px;
    padding-right: 160px;
    padding-bottom: 32px;
    padding-left: 49px;
    background-color: #141718;
  }
  
  .upper-chamber {
    display: flex;
    justify-content: space-between;
    width: 1120px;
  }
  
  .upper-upper-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
  }
  
  .foot-legant {
   display: flex;
   width: 105px;
   height: 24px;
   font: poppins;
   font-weight: 500;
   font-size: 24px;
   line-height: 24px;
   align-items: center;
   color: white;
  }
  
  .bar {
   display: flex;
   width: 1px;
   height: 24px;
   color: #6c7275;
  }
  
  .gift-footer {
   display: flex;
   width: 350px;
   height: 22px;
   font: inter;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: #e8ecef;
  }
  
  .upper-upper-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
  }
  
  .white {
   display: flex;
   font: inter;font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: white;
  }
  
  #home {
   width: 40px;
   height: 22px;
  }
  #shop {
   width: 35px;
   height: 22px;
  }
  
  #product {
   width: 52px;
   height: 22px;
  }
  
  #blog{
   width: 30px;
   height: 22px;
  }
  
  #contact {
   /* width: 75px; */
   height: 22px;
  }
  
  .line {
    margin-top: 50px;
    width: 1120px;
  }
  
  .lower-chamber {
    display: flex;
    justify-content: space-between;
    width: 1118px;
    /* border-top: 0.5px; */
    padding: 16px 0px;
  }
  
  .lower-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
  }
  
  .copyright {
   display: flex;
   width: 265px;
   height: 20px;
   font: poppins;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   color: #e8ecef;
  }
  
  .policy-f {
   display: flex;
   /* width: 85px; */
   height: 20px;
   font: poppins;
   font-weight: 600;
   font-size: 12px;
   line-height: 20px;
   color: white;
  }
  
  .terms-f {
   display: flex;
   width: 79px;
   height: 20px;
   font: poppins;
   font-weight: 600;
   font-size: 12px;
   line-height: 20px;
   color: white;
  }
  
  .lower-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
  }